* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1280px !important;
  margin: auto;
  padding: 0 15px !important;
}


.uk-modal-body {
  position: relative;
  width: 800px;
  height: 500px;
  background: #161616;
  overflow: hidden;
  border-radius: 15px;
}

.uk-modal-body .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.uk-modal-body .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5s;
}

.uk-modal-body .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uk-modal-body .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.uk-modal-body .user .formBx h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #ffffff;
}

.uk-modal-body .user .formBx input[type='text'] {
  width: 100%;
  padding: 10px 15px;
  background: #f5f5f5;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.uk-modal-body .user .formBx input[type='password'] {
  width: 100%;
  padding: 10px 15px;
  background: #f5f5f5;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.uk-modal-body .user .formBx input[type='tel'] {
  width: 100%;
  padding: 10px 15px;
  background: #f5f5f5;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.uk-modal-body .user .formBx input[type='email'] {
  width: 100%;
  padding: 10px 15px;
  background: #f5f5f5;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.uk-modal-body .user .formBx input[type='checkbox'] {
  min-width: 18px;
  height: 18px;
  margin-right: 7px;
}

.uk-modal-body .user .formBx .form-check {
  display: flex;
  align-items: flex-start;

  label {
    font-size: 14px;
  }
}

.uk-modal-body .user .formBx button {
  min-width: 120px;
  margin-top: 10px;
  outline: 0;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
  border: 2px solid #fff;
  padding: 7px 15px;

  &:hover {
    border-color: #F5412A;
    background: #F5412A !important;
  }
}

.uk-modal-body .user.signUpBx .formBx button {
  background: transparent;
}

.uk-modal-body .user .formBx .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.uk-modal-body .user .formBx .signup span {
  font-weight: 600;
  text-decoration: none;
  color: #F5412A;
  cursor: pointer;
}

.uk-modal-body .signUpBx {
  pointer-events: none;
}

.uk-modal-body .signUpBx .formBx {
  top: 100%;
}

.uk-modal-body .signUpBx .imgBx {
  top: -100%;
  transition: 0.5s;
}

.uk-modal-body.active .signUpBx .formBx {
  top: 0;
}

.uk-modal-body.active .signUpBx .imgBx {
  top: 0;
}

.uk-modal-body.active .signUpBx {
  pointer-events: auto;
}

.uk-modal-body .signInBx .formBx {
  top: 0;
}

.uk-modal-body.active .signInBx .formBx {
  top: 100%;
}

.uk-modal-body .signInBx .imgBx {
  top: 0;
}

.uk-modal-body.active .signInBx .imgBx {
  top: -100%;
}

.info-form {
  color: #fff;
  margin-top: 20px;
}

#offcanvas-menu {
  a {
    font-size: 6rem;
  }
  .btn{
    font-size: 6rem;
    color: #fff;
  }
}

.mobile-nav {
  display: none;
  padding: 3px 0;
  background: #171717;
  width: 100vw;
  position: fixed;
  z-index: 999;

  .nav-mobile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .btn {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 25px;

      &:focus {
        box-shadow: none;
      }
    }

    .logo-box {

      width: auto;

      h1 {
        padding-bottom: 8px;
      }
    }
  }
}
.main-nav .exit-profile{
  .btn{
    color: #fff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    &:hover{
      background: #D31F08;
      color: #fff;
    }
  }
}
.main-nav.bg-white {
  padding: 10px 0;

  .exit-profile{
    .btn{
      color: #000;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      &:hover{
        background: #D31F08;
        color: #fff;
      }
    }
  }

  .nav-link, .logo-box, .nav-link {
    color: #000;

    &:before {
      color: #000;
      opacity: .7;
    }

    h1 {
      color: #000;
    }
  }

  .nav-link:hover {
    color: #fff;
  }
}

.main-nav {
  width: 100vw;
  position: fixed;
  padding: 25px 0;
  z-index: 998;
  transition: .5s;
  transition-property: padding-bottom, padding-top, background-color;
  transition-delay: .5s, .5s, 0s;


}

.nav-link {
  color: #fff;


  &:hover {
    background: #D31F08;
    color: #fff;
    transition: .3s all ease;
    text-decoration: none;
  }
}

.nav-item + .nav-item {
  margin-left: 15px;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.logo-box {

  position: relative;
  width: 23%;

  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: 'самая вкусная пицца';
    opacity: .26;
    font-size: 13px;
    font-weight: 300;
    white-space: nowrap;
    color: #fff;
  }

  h1 {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;

    span {
      font-size: 20px;
    }

    padding-bottom: 5px;
  }
}

.maim-header {
  background-image: url("../img/pizza-4952508_1920.jpg");
  background-size: cover;
  padding: 280px 0;
  background-attachment: fixed;
}

.header-title {
  color: #fff;
  position: relative;


  & > h2 {
    font-size: 150px;
    font-family: "Sitka Small", sans-serif;
    font-weight: bold;
    padding-top: 30px;
    position: relative;
    letter-spacing: 20px;
    color: #fff;

    &:before {
      content: 'самая вкусная';
      font-size: 43px;
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Segoe UI", sans-serif;
      font-weight: 500;
      letter-spacing: 0;
    }
  }
}

.text {
  font-size: 21px;
}

.text + .btn {
  border-radius: 30px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 21px;
  padding: 10px 35px;
  transition: .3s all ease;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(211, 31, 8, 0);
  }

  &:hover {
    border-color: #D31F08;
    color: #fff;
    background: #D31F08;
    box-shadow: 0 0 0 0.25rem rgba(211, 31, 8, 0.55);
  }

  i {
    transform: translateY(10%);
    margin-left: 10px;
  }
}

.section {
  padding: 180px 0;
  position: relative;

  &.bg-dark {
    background: #161616 !important;
  }
}

.title-section {
  padding: 15px 0 40px 0;
  position: relative;

  &:before {
    content: attr(data-top);
    color: #F5412A;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    left: 5px;
    top: -6px;
  }

  &::after {
    content: attr(data-bottom);
    color: #fff;
    opacity: .45;
    font-size: 40px;
    font-weight: lighter;
    position: absolute;
    left: 5px;
    bottom: -1px;
    white-space: nowrap;

  }

  h2 {
    font-size: 80px;
    color: #fff;
  }

  &.white {
    h2 {
      color: #171717;
    }

    &:before {
      color: #F5412A;
    }

    &::after {
      color: #171717;
    }
  }
}

.substrate {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;

  &.top {
    top: 0;
    transform: translateY(-98%);
  }

  &.bottom {
    bottom: 0;
    transform: translateY(98%) rotate(180deg);
  }
}


.cart-item {
  position: relative;
  width: 100%;
  height: 550px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
  transition: .5s;
  overflow: hidden;
  border-radius: 20px;

  .imgBox {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #fff, transparent);
      opacity: 0;
      z-index: 2;
      position: absolute;
      transition: .5s;
      left: 0;
      bottom: 0;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: auto;
      transition: .5s;
    }
  }

  &:hover {
    .imgBox {
      &:before {
        opacity: 1;
      }

      img {
        opacity: .7;
        transform: translateY(-40px);
      }
    }

    .content {
      opacity: 1;
      bottom: 0;
    }
  }


  .nav-item {
    margin-left: 0;
  }

  .content {
    &::before {
      position: absolute;
      content: 'пицца';
      font-family: cursive;
      font-size: 30px;
      left: 20px;
      top: -15px;

    }

    position: absolute;
    bottom: -40px;
    z-index: 100;
    left: 0;
    padding: 20px;
    transition: .5s;
    opacity: 0;

    .btn {
      color: #fff;
      background: #F5412A;
    }
  }
}

.advantage-box {
  display: flex;
  align-items: flex-start;

  i {
    color: #F5412A;
    margin-right: 15px;
  }

  h3 {
    color: #fff;
  }

  p {
    color: #fff;
    opacity: .5;
  }

}

.img-box {
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }
}

.map-box {
  width: 100%;
  height: 450px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.social-network-and-contacts {
  .nav-item + .nav-item {
    margin-left: 40px;
  }

  .nav-item a {
    color: #444;
    display: flex;
    align-items: center;
    text-decoration: none;

    span {
      margin-left: 15px;
    }
  }
}

footer.section {
  padding: 70px 0;
}


.profile-header {
  padding: 10rem 0;
  background-image: url("../img/profile-bg.jpg");
  background-size: cover;
  background-color: #444444;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;

  h2 {
    color: #fff;
    font-size: 50px;
    text-align: center;
  }
}

.banner-profile {
  padding: 10rem 0;
  background-image: url("../img/profile-bg.jpg");
  background-color: #444444;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
}


.title-section-profile {
  font-size: 30px;
}

.order-box-items {
  scrollbar-width: thin;
  overflow-x: auto;
  scrollbar-color: #F5412A white;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #F5412A;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
  }

  .order-box-item.no-active {
    background: #353a40;
  }

  .order-box-item {


    padding: 20px;

    p {
      color: #fff;
      font-size: 14px;
    }

    .btn {
      font-size: 16px;
      padding: 5px 5px;
      margin-top: 10px;
      margin-right: 5px;

    }
    .number-order, .name-order {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.order-box-items {
  .order-box-item {
    margin-bottom: 25px;
  }

}


.title-section-profile {
  margin: 20px 0;
}

.profile-map-box {
  display: none;
  width: 100%;
  height: 500px;

  #map {
    width: 100%;
    height: calc(100% - 50px);
  }

  .ymaps-2-1-78-map {
    width: 100% !important;
    height: 100% !important;
  }
}



.add-new-employee{
  .accordion-item{
    .accordion-button{
      font-size: 16px;
      padding: 8px 9.6px 8px 12px;
      &:after{
        width: 20px;
        height: 20px;
        background-size: 20px;
      }
    }
    .accordion-body{
      .form-group{
        padding: 0 10px;
        margin-bottom: 15px;
        label,input,.invalid-feedback{
          font-size: 14px;
        }
        input{
          padding: 6px 36px 6px 12px;
        }
      }
      .btn{
        font-size: 16px;
        padding: 5px 10px;
        margin-right: 5px;
      }
    }
  }
}

.grid-table-staff{
  margin-top: 25px;
  .tr-line{
    display: grid;
    grid-template-columns: 231px 231px 231px 231px 140px 140px 40px;
    grid-auto-columns: auto;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  scrollbar-width: thin;
  overflow-x: auto;
  scrollbar-color: #F5412A white;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #F5412A;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
  }
  .tr{
    padding: 15px 2px;

    font-size: 16px;

    .btn{
      transition: .3s all ease;
      font-size: 18px;
      &:hover{
        transform: translateY(-10%);
      }
      i.fa-trash-alt{
        color: #F5412A;
      }
    }
  }
  .tr.center-tr{
    text-align: center;
  }
}

#modal-edit-employee{
  .uk-modal-body{
    .title-section-profile{
      color: #fff;
    }
    height: auto;
    .form-group{
      padding: 0 10px;
      margin-bottom: 15px;
      label,input,.invalid-feedback{
        font-size: 14px;
      }
      label{
        color: #fff;
      }
      input{
        padding: 6px 36px 6px 12px;
        border: 0;
        outline: 0;
        &:focus{
          box-shadow: none;
        }

      }
    }
    .btn{
      font-size: 16px;
      padding: 5px 15px;
      margin-right: 5px;
      transition: 0.5s;
      border: 2px solid #fff;
      color: #fff;
      &:hover{
        border-color: #F5412A;
        background: #F5412A;
      }
      &:focus{
        box-shadow: none;
      }
    }
  }
}


footer{
  &>* {
    font-size: 16px;

  }
}